---content---
<!DOCTYPE html>
<html lang="en" {@ "core/bits/microdata/scope_html" @}>
<head>
	<meta charset="utf-8" />

	<title>{{ page_title(C.title) }}</title>
	<link rel="canonical" href="{! canonical_url(C.url, true) !}" />

	<link rel="icon" type="image/png" href="/images/icons/favicon-32.png" />
	<link rel="shortcut icon" href="/favicon.ico" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<link rel="stylesheet" href="/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/css/screen.css" type="text/css" />

	{@ "core/bits/analytics_script" @}
</head>
<body>

<div class="navbar">
	<nav>
		<ul>
		{% if C.url == "/index.html" then %}
		{{ Site.nav.root }}
		{% else %}
		{{ Site.nav.backroot }}
		{% end %}

		{% for _, item in ipairs(C.nav) do %}
		{{ item }}
		{% end %}
		</ul>
	</nav>
</div>

<div class="container">
<div class="main_column">

<article class="article">

{@ "core/bits/microdata/fields" @}

{! C.content !}

</article>

<footer class="footer">
	<span>&copy; {{ Site.run_years }} komiga</span>
</footer>

</div>
</div>

</body>
</html>
