
.print-only {}

.print-hide {
	display: none;
}

.print-grayscale {
	color: #000;
}

.container {
	margin: 0 0 0 0 !important;
}

.navbar {
	display: none;
}

/*p {
	text-align: justify;
}*/

.para-ref {
	visibility: hidden !important;
}
.para-ref > a {
	visibility: hidden !important;
}

.footer,
.footer > div {
	display: none;
}

.print-break {
	break-before: page;
	break-inside: avoid;
	page-break-before: always;
	page-break-inside: avoid;
}
