
/* Defaults */

html, body {
	height: 100%;
	/*min-width: 480px;*/
	-webkit-font-smoothing: antialiased;
}

body {
	display: block;
	padding: 0px;
	margin: 0px;
	font: normal normal normal 18px/1.366em "Bitstream Vera Sans", "DejaVu Sans", sans-serif !important;
	background-color: #ffffff;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px 0px 20px 0px;
	padding-top: 10px;
}

h1 {font-size: 180%;}
h2 {font-size: 160%;}
h3 {font-size: 140%;}
h4 {font-size: 131%;} /* WebKit/Chrom(e|ium) fix: +1% to avoid the twitchy sizing when hovering a heading with a para-ref */
h5 {font-size: 120%;}
h6 {font-size: 110%;}

ol, ul {
	margin: 20px 0px 20px 40px;
}
p {margin: 20px 0px;}
blockquote, q {margin: 20px;}

ol {list-style: decimal;}
ul {list-style: disc;}

a			{color: #0080ff; text-decoration: none;}
/*a:visited	{color: #6800ff;}*/
a:hover		{text-decoration: underline;}

em {font-style: italic;}
strong {font-weight: bold;}
small {font-size: 80%;}

sup {
	vertical-align: super;
	line-height: 12px;
	font-size: 80%;
}

/* Stylers */

.list-styleless {
	list-style: none;
}

.separator {
	width: 100%;
	border-bottom: 1px #000000 solid;
	margin-bottom: 20px;
}

.para-ref {
	visibility: hidden;
	margin-top: -60px;
	padding-top: 60px;
}
.para-ref>a {
	margin: auto 5px auto 5px;
	padding: 0px 5px 0px 5px;
	font-weight: normal;
	text-decoration: none;
}
.para-ref>a:before {content: "#";}

h1:hover>.para-ref,
h2:hover>.para-ref,
h3:hover>.para-ref,
h4:hover>.para-ref,
h5:hover>.para-ref,
h6:hover>.para-ref
{
	visibility: visible;
}

.print-break {
	break-before: page;
	break-inside: avoid;
	page-break-before: always;
	page-break-inside: avoid;
}

/* Top-level */

.container {
	min-height: 100%;
	margin: 68px 20px 0px 20px;
}

.main_column {
	max-width: 800px;
	height: 100%;
}

/* Navigation bar */

.navbar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9001;
	position: fixed;
	display: block;
	width: 100%;
	height: 48px;
	white-space: nowrap;
}

.navbar>nav {
	display: block;
	overflow: hidden;
	background-color: #000000;
	height: 48px;
}

@media only screen and (max-width: 801px) {
	.navbar>nav {
		overflow-x: auto;
		overflow-y: hidden;
	}
}

.navbar>nav>ul {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.navbar>nav>ul>li {
	vertical-align: top;
	flex-shrink: 0;
	height: 48px;
	background-color: #000000;
}

.nav-item {
	display: block;
	min-width: 16px;
	height: 48px;
	line-height: 48px;
	padding: 0px 8px 0px 8px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}

.nav-item.link {
	min-width: 32px;
}

.nav-item.bold {
	font-weight: bold;
	font-size: 110%;
}

.nav-item.single {
	font-size: 140%;
}

/* It doesn't feel right with Bitstream Vera Sans!! */
/* It's not aligned with the @ symbol on the index!!! */
.nav-item.omega>span {
	display: block;
	padding-top: 2px;
}

a:hover.nav-item {
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

.nav-item-icon {
	width: 24px;
	vertical-align: middle;
	text-align: center;
}

a:hover>.nav-item-icon {
	-webkit-filter: brightness(-1.0);
	filter: brightness(-1.0);
}

.nav-item-icon.home {
	width: 32px;
}

a:hover>.nav-item-icon.home {
	-webkit-filter: none;
	filter: none;
}

/* Article */

.article {
	display: block;
}

.article_content {}

/* Footer */

.footer {
	display: block;
	width: 100%;
	padding: 40px 0px 40px 0px;
	text-align: center;
	font-size: 90%;
	color: #333333;
}

/* Special */

.float-list {
	display: inline;
	float: left;
	position: relative;
	margin-right: 20px;
}

.clear-section {
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
