---
#exclude-from-sitemap: false

#nav-items: null

#md-disabled: false
#md-metadata-disabled: false
#md-type: "WebPage"
#md-content-prop: "mainContentOfPage"
#md-content-scoped: true
#md-content-type: "WebPageElement"

#title: null
#image: site.meta.image
#description: null
---
<!DOCTYPE html>
<html lang="en" {% include microdata/scope %}>
<head>
	<meta charset="utf-8" />

	<title>{% include fetch/page/window_title %}</title>
	<link rel="canonical" href="{% include common/canonical_url %}" />

	<link rel="icon" type="image/png" href="/images/icons/favicon-32.png" />
	<link rel="shortcut icon" href="/favicon.ico" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<link rel="stylesheet" href="/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/css/screen.css{% unless site.safe %}?{{ site.time | date: '%Y%m%d%H%M%S' }}{% endunless %}" type="text/css" />

	{% include component/analytics_script %}
</head>
<body>

<div class="navbar">
	<nav>
		<ul>
		{% if page.url == "/" or page.url == "/index.html" %}
			{% assign _desc = site.nav-items-predefined.home %}
		{% else %}
			{% assign _desc = site.nav-items-predefined.backhome %}
		{% endif %}
		{% include common/nav_item %}

		{% if page.nav-items %}
			{% for _desc in page.nav-items %}
				{% include common/nav_item %}
			{% endfor %}{% assign _desc = null %}
		{% endif %}
		</ul>
	</nav>
</div>

<div class="container">
<div class="main_column">

<article class="article">

{% include microdata/fields %}

{{ content }}

</article>

<footer class="footer">
	<span>&copy; {{ site.meta.run-years }} komiga</span>
</footer>

</div>
</div>

</body>
</html>
